.select2-container .select2-selection--multiple {
    min-height: 42px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 6px 10px;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #e5e7eb;
    border-radius: 9999px;
    padding: 3px 10px;
    margin-top: 6px;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 6px;
  }
  .select2-container--default .select2-search--inline .select2-search__field {
    margin-top: 6px;
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #6366f1; /* indigo-500 */
  }
  .select2-container .select2-search--inline .select2-search__field {
    height: 21px !important;
    /* line-height: 1.20rem !important; */
    font-size: 0.9rem !important;
    margin: 5px !important;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 2px !important;
  }
  .select2-container .select2-selection--multiple{
    padding: 3px 5px !important;
  }
  .select2-container--default .select2-selection--multiple{
    border: 1px solid #d1d5dc !important;
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  }